extends layout


block script
    script(src="javascripts/installations.js")


block content

    section#page-top
        .container
            h2.text-center.text-uppercase.mb-0 Installations
        .container.col-lg-6.col-lg-offset-3(style="margin-top: 40px")
           form(onsubmit="return false")
               h4 Rechercher les installations par arrondissement
               input#name.form-control(type='text', placeholder="Nom de l'arrondissement" name='arrondissement')
               button#btnArron.btn.btn-primary(type="submit") Rechercher


        #myTable

