.container.col-lg-12
    table.table.table-hover.table-striped.table-bordered.table-condensed

        if (glissade)
            thead
                tr
                    th(colspan=2) Glissade
                    th Modification
            tbody
                tr
                    th ID
                    td= glissade._id

                tr
                    th Nom
                    td= glissade.nom
                each obj in glissade.arrondissement
                    tr
                        th Arrondissement
                        td= obj.nom_arr
                    tr
                        th Cle
                        td= obj.cle
                        td
                            input#cle.col-lg-12.form-control(type='text', placeholder='Modification')
                    tr
                        th Date Maj
                        td= obj.date_maj
                        td
                            input#dateMaj.col-lg-12.form-control(type='text', placeholder='Modification')
                tr
                    th Ouvert
                    td= glissade.ouvert
                    td
                        input#ouvert.col-lg-12.form-control(type='text', placeholder='Modification')
                tr
                    th Deblaye
                    td= glissade.deblaye
                    td
                        input#deblaye.col-lg-12.form-control(type='text', placeholder='Modification')
                tr
                    th Condition
                    td= glissade.condition
                    td
                        input#condition.col-lg-12.form-control(type='text', placeholder='Modification')



        if (patinoire)
            thead
                tr
                    th(colspan=2) Patinoire
                    th Modification

            tbody
                if (patinoire)
                    tr
                        th ID
                        td= patinoire._id
                    tr
                        th Nom
                        td= patinoire.nom
                    each obj in patinoire.arrondissement
                        tr
                            th Arrondissement
                            td= obj.nom_arr
                        tr
                            th Cle
                            td= obj.cle
                            td
                                input#cle.col-lg-12.form-control(type='text', placeholder='Modification')
                        tr
                            th Date Maj
                            td= obj.date_maj
                            td
                                input#dateMaj.col-lg-12.form-control(type='text', placeholder='Modification')
                    tr
                        th Ouvert
                        td= patinoire.ouvert
                        td
                            input#ouvert.col-lg-12.form-control(type='text', placeholder='Modification')

                    tr
                        th Deblaye
                        td= patinoire.deblaye
                        td
                            input#deblaye.col-lg-12.form-control(type='text', placeholder='Modification')

                    tr
                        th Arrose
                        td= patinoire.arrose
                        td
                            input#arrose.col-lg-12.form-control(type='text', placeholder='Modification')

                    tr
                        th Resurface
                        td= patinoire.resurface
                        td
                            input#resurface.col-lg-12.form-control(type='text', placeholder='Modification')

                    tr
                        th Condition
                        td= patinoire.condition
                        td
                            input#condition.col-lg-12.form-control(type='text', placeholder='Modification')




        if (piscine)
            thead
                tr
                    th(colspan="2") Piscine
                    th Modification

            tbody
                if (piscine)
                    tr
                        th ID
                        td= piscine.ID_UEV

                    tr
                        th Type
                        td= piscine.TYPE

                    tr
                        th Nom
                        td= piscine.NOM
                    tr
                        th Arrondissement
                        td= piscine.ARRONDISSE

                    tr
                        th Adresse
                        td= piscine.ADRESSE

                    tr
                        th Point X
                        td= piscine.POINT_X
                    tr
                        th Point Y
                        td= piscine.POINT_Y
                    tr
                        th Longitude
                        td= piscine.LONG
                    tr
                        th Latitude
                        td= piscine.LAT

                    tr
                        th Propriete
                        td= piscine.PROPRIETE
                        td
                            input#propriete.col-lg-12.form-control(type='text', placeholder='Modification')

                    tr
                        th Gestion
                        td= piscine.GESTION
                        td
                            input#gestion.col-lg-12.form-control(type='text', placeholder='Modification')

                    tr
                        th Equipement
                        td= piscine.EQUIPEME
                        td
                            input#equipeme.col-lg-12.form-control(type='text', placeholder='Modification')




        tfoot
    .container.row.col-lg-12.btn-group
        button#btnModifierGliss.btn.btn-primary(type="submit" onclick="modifierInstallation()") Modifier
        button#btnDeleteGliss.btn.btn-secondary(type="submit" onclick="supprimerInstallation()") Supprimer

