doctype html
html
    head
        title= "Mon Programme"
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Custom fonts for this template
        link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        // Plugin CSS
        link(href='vendor/magnific-popup/magnific-popup.css', rel='stylesheet', type='text/css')
        // Custom styles for this template
        link(href='css/freelancer.min.css', rel='stylesheet')


        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")

        block link
        block script
    body
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.fixed-top.text-uppercase
            .container
                a.navbar-brand.js-scroll-trigger(href='/' style="color: white") TP INF4375
                button.navbar-toggler.navbar-toggler-right.text-uppercase.bg-primary.text-white.rounded(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fa.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='/' style="color: white") Accueil
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='/doc' style="color: white") Services REST
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='/utilisateurs' style="color: white") Utilisateur

        // Header
        header.masthead.bg-primary.text-white.text-center
            .container
                h1.text-uppercase.mb-0 TP INF4375
                h2.font-weight-light.mb-0 Nicolas Papanicolaou - PAPN20098909

        block content

