extends layout
block link


block script
    script(src="javascripts/users.js")


block content

    section#utilisateurs
        .container
            h2.text-center.text-uppercase.mb-0 Utilisateurs
        .container.col-lg-6.col-lg-offset-3(style="margin-top: 40px")
            form(onsubmit="return false")
                div.form-group
                    input#firstName.col-lg-12.form-control(type='text', placeholder='Prenom' name='firstName' required='')
                div.form-group
                    input#lastName.form-control(type='text', placeholder='Nom de famille' name='lastName' required='')
                div.form-group
                    input#email.form-control(type='text', placeholder='quelquechose@domaine.com' name='email' required='')
                div.form-group
                    textarea#arrondissements.form-control(rows="10" placeholder='Le Sud-Ouest\nSaint-Laurent' name='arrondissements')
                button.btn.btn-primary(type="submit" onclick="creationUtilisateur()") Creer l'usager

                #CreationDone